
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<h2>Danh sách bài viết</h2>

<div class="text-right">
    <a role="button" class="btn btn-primary" href="~/Admin/NewsInfo"><i class="fas fa-plus"></i> Tạo bài viết</a>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">


            <thead>
                <tr>
                    <th scope="col">Bài viết</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Người viết</th>
                    <th scope="col">Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (THUONGMAIDIENTUEntities db = new THUONGMAIDIENTUEntities())
                {
                    foreach (var item in db.NEWS.OrderByDescending(x => x.DateCreate).ToList())
                    {
                        var date = (item.DateCreate ?? DateTime.Now).ToString("dd/MM/yyyy");

                        <tr>
                            <td>@item.NewsTitle</td>
                            <td>@item.CATEGORY_NEWS.CategoryName</td>
                            <td>@item.USER.Fullname</td>
                            <td>@date</td>
                            <th>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" href="/Admin/NewsInfo/@item.IdNews"><i class="fas fa-edit"></i></a>
                                    <button type="button" class="btn btn-danger" onclick="DeleteNews(@item.IdNews)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </th>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">- Lọc nội dung -</option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });





    function DeleteNews(id) {
        if (!confirm("Bạn có thực sự muốn xóa bài viết này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteNews/' + id,
            type: 'DELETE',
            dataType: 'text'
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

</script>
